.comments{
  display: grid;
  gap: 1rem;
  grid-area: comments;
  grid-auto-flow: row;
  margin-top: 3.27rem;
  
  @media (min-width: 1025px) {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    height: 266px;
    margin-top: 4rem;
  }

  .card{
    &-comment{
      background-color: $very-dark-magenta;
      border-radius: .4rem;
      color: $white;
      padding: 32px;

      @media (min-width: 1025px) {
        height: 234px;

        &:nth-child(2){ align-self: center; }
        &:nth-child(3){ align-self: end; }
      }
      
      &__header{
        @include flex(start);
        font-weight: 400;
        gap: 22px;
        margin-bottom: 2rem;
        
        img{
          border-radius: 50%;
          height: 42px;
          object-fit: contain;
        }
        
        &-name{
          h2, p{
            font-size: 1.12rem;
          }
          p{
            color: $soft-pink;
            padding-top: .2rem;
          }
        }
      }

      &__body{
        font-size: 1.05rem;
        line-height: 1.36;

        &::before{ content: "\" "; }
        &::after{ content: " \""; }
      }
    }
  }
}