.message{
  grid-area: message;
  text-align: center;
  
  @media (min-width: 1025px) {
    flex-direction: column;
    padding-right: 5.6rem;
    text-align: left;
    @include flex;
  }
  
  
  &__title{
    color: $very-dark-magenta;
    font-size: 3rem;
    font-weight: 700;
    line-height: .78;
    margin-bottom: 24px;
    margin-top: 56px;
    
    @media (min-width: 1025px) {
      font-size: 3.7rem;
      letter-spacing: -2px;
      line-height: .9;
      margin-top: 0;
    }
  }
  
  &__description{
    color: $dark-grayish-magenta;
    font-size: 1.19rem;
    line-height: 1.4;
    
    @media (min-width: 1025px) {
      font-size: 1.2rem;
      line-height: 1.2;
      padding-right: 1rem;
    }
  }
}