.stars{
  display: grid;
  gap: 1.2rem;
  grid-auto-flow: row;
  margin-top: 3rem;
  text-align: center;

  .card{
    &__star{
      background-color: $light-grayish-magenta;
      border-radius: .4rem;
      padding: 1rem;
    }
    
    &__list{
      @include flex(center);
      gap: 1rem;
      margin-bottom: 1rem;
      
      img{
        height: 1.19rem;
        object-fit: contain;
      }
    }
    
    &__rate{
      color: $very-dark-magenta;
      font-size: 1.29rem;
      font-weight: 700;
    }
  }

}