.stars{
  display: grid;
  gap: 1.2rem;
  grid-area: stars;
  grid-auto-flow: row;
  margin-top: 3rem;
  text-align: center;
  
  @media (min-width: 1025px) {
    display: grid;
    height: 243px;
    margin-top: 0;
  }
  
  .card{
    &__star{
      background-color: $light-grayish-magenta;
      border-radius: .4rem;
      padding: 1rem;
      width: 100%;

      @media (min-width: 1025px) {
        align-content: center;
        display: grid;
        grid-auto-flow: column;
        height: 56px;
        width: 445px;
        

        &:nth-child(2){ justify-self: center; }
        &:nth-child(3){ justify-self: end; }
      }
    }
    
    &__list{
      @include flex(center);
      gap: 1rem;
      margin-bottom: 1rem;
      
      @media (min-width: 1025px) {
        margin-bottom: 0;
      }
      
      img{
        height: 1.19rem;
        object-fit: contain;
      }
    }
    
    &__rate{
      color: $very-dark-magenta;
      font-size: 1.29rem;
      font-weight: 700;
    }
  }

}