* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}

@media (min-width: 1025px) {
  body {
    display: grid;
    min-height: 100vh;
    place-content: center;
  }
}

main {
  padding: 24px;
}
@media (min-width: 1025px) {
  main {
    display: grid;
    grid-template-areas: "message stars" "comments comments";
    grid-template-columns: 40% auto;
    grid-template-rows: 1fr 1fr;
    max-height: 585px;
    max-width: 1110px;
    width: 100%;
  }
}

.message {
  grid-area: message;
  text-align: center;
}
@media (min-width: 1025px) {
  .message {
    flex-direction: column;
    height: 243px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.message__title {
  color: hsl(300deg, 43%, 22%);
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.78;
  margin-bottom: 24px;
  margin-top: 56px;
}
@media (min-width: 1025px) {
  .message__title {
    font-size: 3.4rem;
    line-height: 0.9;
  }
}
.message__description {
  color: hsl(303deg, 10%, 53%);
  font-size: 1.19rem;
  line-height: 1.4;
}
@media (min-width: 1025px) {
  .message__description {
    font-size: 1.1rem;
    line-height: 1.2;
    padding-right: 1rem;
  }
}

.stars {
  display: grid;
  gap: 1.2rem;
  grid-area: stars;
  grid-auto-flow: row;
  margin-top: 3rem;
  text-align: center;
}
@media (min-width: 1025px) {
  .stars {
    display: grid;
    height: 243px;
    margin-top: 0;
  }
}
.stars .card__star {
  background-color: hsl(300deg, 24%, 96%);
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 1025px) {
  .stars .card__star {
    align-content: center;
    display: grid;
    grid-auto-flow: column;
    height: 56px;
    width: 445px;
  }
  .stars .card__star:nth-child(2) {
    justify-self: center;
  }
  .stars .card__star:nth-child(3) {
    justify-self: end;
  }
}
.stars .card__list {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 1025px) {
  .stars .card__list {
    margin-bottom: 0;
  }
}
.stars .card__list img {
  height: 1.19rem;
  object-fit: contain;
}
.stars .card__rate {
  color: hsl(300deg, 43%, 22%);
  font-size: 1.29rem;
  font-weight: 700;
}

.comments {
  display: grid;
  gap: 1rem;
  grid-area: comments;
  grid-auto-flow: row;
  margin-top: 3.27rem;
}
@media (min-width: 1025px) {
  .comments {
    display: grid;
    grid-auto-flow: column;
    height: 266px;
  }
}
.comments .card-comment {
  background-color: hsl(300deg, 43%, 22%);
  border-radius: 0.4rem;
  color: hsl(0deg, 0%, 100%);
  padding: 32px;
}
@media (min-width: 1025px) {
  .comments .card-comment {
    height: 234px;
  }
  .comments .card-comment:nth-child(2) {
    align-self: center;
  }
  .comments .card-comment:nth-child(3) {
    align-self: end;
  }
}
.comments .card-comment__header {
  align-items: center;
  display: flex;
  justify-content: start;
  font-weight: 400;
  gap: 22px;
  margin-bottom: 2rem;
}
.comments .card-comment__header img {
  border-radius: 50%;
  height: 42px;
  object-fit: contain;
}
.comments .card-comment__header-name h2, .comments .card-comment__header-name p {
  font-size: 1.12rem;
}
.comments .card-comment__header-name p {
  color: hsl(333deg, 80%, 67%);
  padding-top: 0.2rem;
}
.comments .card-comment__body {
  font-size: 1.05rem;
  line-height: 1.36;
}
.comments .card-comment__body::before {
  content: '" ';
}
.comments .card-comment__body::after {
  content: ' "';
}

/*# sourceMappingURL=index.css.map */
