*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before, *::after{
  box-sizing: border-box;
}

html{
  font-family: $spartan; 
  font-size: 15px;
}

body{
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-position: top left -1rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  
  @media (min-width: 1025px) {
    background-image: url("../images/bg-pattern-top-desktop.svg");
    background-size: auto;

    display: grid;
    min-height: 100vh;
    place-content: center;
  }
  
  &::after{
    background-image: url("../images/bg-pattern-bottom-mobile.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 34%;
    position: absolute;
    width: 100%;
    z-index: -1;
    
    @media (min-width: 1025px) {
      background-image: url("../images/bg-pattern-bottom-desktop.svg");
      background-position: bottom -4rem right -3rem;
      background-repeat: no-repeat;
      background-size: auto;

      height: 100%;
    }
  }
}

main{
  padding: 24px;
  
  @media (min-width: 1025px) {
    display: grid;
    grid-template-areas: 
    "message stars"
    "comments comments";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 585px;
    max-width: 1110px;
    width: 100%;
  }
}